<div class='max-w-3xl mx-auto p-4'>
  <h2 class='flex justify-center text-3xl font-semibold mb-4'>Welcome to your
    dashboard,
    {{name}}</h2>

  <section class='bg-gray-800 rounded-lg shadow-md p-4 mb-4'>
    <h3 class='text-xl text-white mb-2'>Your Posts</h3>
    {{#if posts}}
      {{#each posts as |post|}}
        <div class='mb-2'>
          <a
            href='/post/{{post.id}}'
            class='text-blue-500 hover:underline'
          >{{post.title}}</a>
        </div>
      {{/each}}
    {{else}}
      <p class='text-gray-400'>You haven't created any posts yet.</p>
    {{/if}}
  </section>

  <section class='bg-gray-800 rounded-lg shadow-md p-4'>
    <h3 class='text-xl text-white mb-2'>Your Comments</h3>
    {{#if comments}}
      {{#each comments as |comment|}}
        <div class='mb-2'>
          <p>{{comment.body}}</p>
          <p>{{formatDate comment.createdAt}}</p>
          <p class='text-gray-400'>On post:
            <a
              href='/post/{{comment.post.id}}'
              class='text-blue-500 hover:underline'
            >{{comment.post.title}}</a>
          </p>
        </div>
      {{/each}}
    {{else}}
      <div class='mb-2'>
        <p class='text-gray-400'>You haven't left any comments yet.</p>
      </div>
    {{/if}}
  </section>
</div>