<div class='max-w-3xl mx-auto py-2'>
  <h2 class='text-3xl font-semibold mb-6 text-center text-gray-200'>
    Welcome to your dashboard,
    {{name}}
  </h2>

  <div class='flex justify-center mb-6'>
    <button
      id='new-post-button'
      class='bg-blue-500 text-gray-100 px-4 py-2 rounded-md shadow-md hover:bg-blue-600'
    >
      + New Post
    </button>

    {{>postForm}}

  </div>

  <div class='flex flex-col md:flex-row'>
    <section
      class='bg-gray-800 rounded-lg shadow-md p-4 mb-4 md:mr-4 md:mb-0 flex-1'>
      <h3 class='text-xl text-gray-100 mb-2'>Your Posts</h3>
      {{#if posts}}
        {{#each posts as |post|}}
          <div class='mb-2'>
            <a href='/post/{{post.id}}' class='text-blue-500 hover:underline'>
              {{post.title}}
            </a>
          </div>
        {{/each}}
      {{else}}
        <p class='text-gray-200'>You haven't created any posts yet.</p>
      {{/if}}
    </section>

    <section class='bg-gray-800 rounded-lg shadow-md p-4 flex-1'>
      <h3 class='text-xl text-gray-100 mb-2'>Your Comments</h3>
      {{#if comments}}
        {{#each comments as |comment|}}
          <div class='mb-2'>
            <p>{{comment.body}}</p>
            <p>{{formatDate comment.createdAt}}</p>
            <p class='text-gray-200'>
              On post:
              <a
                href='/post/{{comment.post.id}}'
                class='text-blue-500 hover:underline'
              >{{comment.post.title}}</a>
            </p>
          </div>
        {{/each}}
      {{else}}
        <div class='mb-2'>
          <p class='text-gray-200'>You haven't left any comments yet.</p>
        </div>
      {{/if}}
    </section>
  </div>

</div>

<script src='/scripts/main.js'></script>